<div>

    <h2>Tour</h2>
    <table class="table">
        <thead><tr><th>Property</th><th>Value</th></tr></thead>
        <tbody>
        <tr><td>Name</td><td>{{tour.name}}</td></tr>
        <tr><td>Theme</td><td>{{tour.theme}}</td></tr>
        <tr><td>Date</td><td>{{tour.date}}</td></tr>
        </tbody>
    </table>

    <h2>Participants</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="member in tour.members">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{member.name}}</h3>
                </div>
            </div>
        </div>
    </div>

    <h2>Reviews</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="review in tour.reviews">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{review.rating}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>